.contact-button {
  color:  #DEBF79;
  text-align: right;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-image {
  max-width: 50%;
  height: auto;
  /* padding-top: 10px; */
}

.header {
  border-bottom: 1px;
}