html {
  height: 100%;
}

body {
  height: 100%;
}

.home-view {
  height: 100%;
  background: #222222;
}

.contact-view {
  height: 100vh;
  background: linear-gradient(90deg, #222222 50%, white 50%);
}

@media only screen and (max-width: 768px) {
  .contact-view {
    height: 100%;
    background: #222222;
  }

  .home-view {
    height: 100%;
    background: #222222;
  }
}

ul li {
  color: white;
}